</main>

<footer>
  <p>Copyright © OmarSCoppola <%= new Date().getFullYear() %>
  </p>
  <a href="https://github.com/Apasin-josc" target="_blank">
    <button type="submit">More about me</button>
</a>
</footer>
</body>

</html>